*{
    text-decoration: none;
    margin: 5px;
    padding: 0px;
}
body{
    margin: -10px;
    padding: 10px;
    font-family: 'open sans', sans-serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #A7FF83;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #0C056D;
    z-index: 1;
    border-bottom: 1px solid #FC5185;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: #C9D6DF;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 25px;
    margin-bottom: 25px;
}

.kolom .deskripsi{
    font-size: 25px;
    font-weight: none;
    font-family: 'comic sans ms';
    color: #FF5722;
}

h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 25px;
    color: #1FAB89;
    width: 100%;
    line-height: 30px;
}

a.tbl-biru{
    background: #888888;
    border-radius: 25px;
    margin-top: 25px;
    padding: 10px 20px 10px 20px;
    color: #C9D6DF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover{
    background: #185ADB;
    text-decoration: none;
}

a.tbl-merah{
    background: #185ADB;
    border-radius: 25px;
    margin-top: 25px;
    padding: 10px 20px 10px 20px;
    color: #C9D6DF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-merah:hover{
    background: #F73859;
    text-decoration: none;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 15px 0px;
}

.tengah{
    text-align: center;
    width: 100%;
}

.tutor-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor{
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img{
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p{
    font-family: 'comic sans ms';
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #252A34;
}

.partner-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner{
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img{
    width: 150px;
    border-radius: 50%;
}

#Contact{
    background: #E3FDFD;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
}

h3{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #E84545;
    width: 100%;
    line-height: 50px;
}

#Copyright{
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 30px;
}

@media screen and (max-width:991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }

    nav.menu {
        width: 100%;
        margin: 0;
    }

    nav.menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav.menu li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-tutor {
        width: 50%;
    }

    .kartu-partner {
        width: 50%;
    }
}